
<div class="parallaxDiv"></div>


The Hufflepuff common room is entered from the same corridor as the Hogwarts kitchens. Proceeding past the large still life that forms the entrance to the latter, a pile of large barrels is to be found stacked in a shadowy stone recess on the right-hand side of the corridor. The barrel two from the bottom, middle of the second row, will open if tapped in the rhythm of ‘Helga Hufflepuff’.\* As a security device to repel non-Hufflepuffs, tapping on the wrong barrel, or tapping the incorrect number of times, results in one of the other lids bursting off and drenching the interloper in vinegar.