<div class=" container-fluid text-light text">
	


	<div class="dumbotron text-center m-0">
	  
	  <div class="container ">
	  
	    <h1 class="display-4 title">Ravenclaw</h1>
	    <p class="lead">"Or yet in wise old Ravenclaw,
			If you've a ready mind,
			Where those of wit and learning,
			Will always find their kind."
		</p>
		<h1 class=" text-center">Our Room's</h1>
	  </div>

	</div>
	
<div class="bg">
	<div class=" row justify-content-around pt-4">
		
		<div class=" bg  text-white gallery">
  			<img src="/assets/img/Ravenclaw1.png" class="card-img border-img " alt="...">
		</div>
		<div class="  text-white gallery">
  			<img src="/assets/img/Ravenclaw4.png" class="card-img border-img" alt="...">
		</div>
		<div class="  text-white gallery">
  			<img src="/assets/img/ravenclaw2.jpg" class="card-img border-img" alt="...">
		</div><div class="  text-white gallery">
  			<img src="/assets/img/ravenclaw5.jpg" class="card-img border-img" alt="...">
		</div>
	</div>

</div>
	<div class=" bg container-fluid row justify-content-around text-light p-4">
		
	<div class="col-sm-5  text-dark text-center">
		<h1 class="title">The Houseghost</h1>
		<img src="/assets/img/raven.ghost.gif" class="rounded ghost" alt="...">
	</div>
	<div class="col-sm-5  color ">
		<h1 class="title">History</h1>
		<p>Ravenclaw is one of the four Houses of Hogwarts School of Witchcraft and Wizardry. Its founder was the medieval witch Rowena Ravenclaw. Members of this house are characterised by their wit, learning, and wisdom. The emblematic animal symbol is an eagle, and blue and bronze are its colours.[4] The Head of Ravenclaw is Filius Flitwick and the house ghost is the Grey Lady, otherwise known as the daughter of Rowena Ravenclaw, Helena Ravenclaw.[5]

		Ravenclaw corresponds roughly to the element of air[6], and it is for that reason that the House colours were chosen; blue and bronze represent the sky and eagle feathers respectively, both having much to do with air.[7] The Ravenclaw points hourglass contains blue sapphires.</p>
		<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">read more</a>
	<div class="row">
  		<div class="col">
    		<div class="collapse multi-collapse  p-3" id="multiCollapseExample1">
      			<div class="card card-body p-3 color">
        			Ravenclaw House prizes learning, wisdom, wit, and intellect in its members.[4] Thus, many Ravenclaws tend to be academically motivated and talented students. They also pride themselves on being original in their ideas, and methods. It's not unusual to find Ravenclaw students practising especially different types of magic that other houses might shun. Hermione Granger, an extremely intelligent witch and the top student in her year, was sorted into Gryffindor, though she admitted that the Sorting Hat had seriously considered placing her in Ravenclaw.[8]
      			</div>
    		</div>
  		</div>
	</div>
</div>

</div>