<div class="base">
<div class="row d-flex justify-content-center fixed">
    <div class="col" id="star">
        <div id="wrapper" >
            <div class="menu">
                <div class="button">
                    <img class="icon" src="/assets/img/owl-icon.png">
                    <!-- <div class="line first top"></div>
                    <div class="line second bottom"></div> -->
                </div>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/subjects">Subjects</a></li>
                    <li><a routerLink="/prof">Professors</a></li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn"><a routerLink="/houses">Houses</a> </button>
                                <div class="dropdown-content">
                                    <a routerLink="/griff" class="text-danger">Gryffindor</a>
                                    <a routerLink="/huffl" class="text-warning">Hufflepuff</a>
                                    <a routerLink="/raven" class="text-primary">Ravenclaw</a>
                                    <a routerLink="/slyth" class="text-success">Slytherin</a>
                                </div>
                        </div>
                    </li>
                    <li><a  routerLink="/hat" class="text-danger">Join a Haus</a></li>
                </ul>
            </div>
        <div class="content">
            <div class="button">
                <div class="line first top"></div>
                <div class="line second bottom"></div>
            </div>
        </div>
    </div>
</div>
    <div class="col text-center" id="logo">
        <a  routerLink="/"><img src="../../assets/imgEro/Hogwarts-Logo.png" alt="logo" height="150px"></a>
    </div>
    <div class="col" id="join">
       <a routerLink="/hat" class="text-danger align-middle">Join a House!</a>
    </div>
</div>
</div>