
	

<div class="  contianer-fluid parallaxDiv ">

<img [@hope]= "isOpen? 'come' : 'dont'" class="dragon" src="/assets/img/dragon.png" alt="">

<img class= "owl" (click)= "toggle()" src="/assets/img/owlWhite.png" alt="">
	
	<div class=" row text-center justify-content-center  ">

		<div class="col-sm-5 pt-5">
			<h1 @fade1 >Slytherin</h1>
			<img @fade1 src="/assets/img/Slytherin.logo.png" routerLink="/slyth" class="img1" alt="">
		</div>
	
		<div class="col-sm-5 pt-5">
			<h1 @fade2>Huffelpuff</h1>
			<img @fade2 src="/assets/img/Hufflepuff_Wappen.png" routerLink="/huffl"class="img2" alt="">
		</div>

		<div class="col-sm-5 pt-5">
			<h1 @fade3>Gryffindor</h1>
			<img @fade3 src="/assets/img/Gryffindor_Banner.png" routerLink="/griff" class="img3" alt="">
		</div>
		<div class="col-sm-5 pt-5">
			<h1 @fade4>Ravenclaw</h1>
			<img @fade4 src="/assets/img/rav.logo.png" routerLink="/raven" class="img4" alt="">
		</div>
	
		
	</div>
</div>

<!-- <div [@hope]= "isOpen? 'come' : 'dont'" class=" change">
		<p>asödfljkasdf</p>
	</div> -->



