<div class="divFooter">
    <div class="container d-flex justify-content-between">
        <div class="row">
            <br>
            <ul class="list-style-none">
                <li><small><a href="">AGB</a></small></li>
                <li><small><a href="">P. Police</a></small></li>
            </ul>
        </div>
    <div class="row">
        <a  routerLink="/"><img src="../../assets/imgEro/Hogwarts-Logo.png" alt="logo" width="150px" height="100px"></a>
    </div>
    <div class="row">
        <br>
        <ul class="list-style-none">
            <li><small><a href="">Press</a></small></li>
            <li><small><a href="">FAQS</a></small></li>
        </ul>
    </div>
    </div>
    <p class="text-center text-light">Code Factory Project 02 - Group 01</p>
</div>
