

<div class="base text text-light">
	

	<div class="dumbotron mb-0">
  		
  		<h1 class="display-4 text-center title">Online Courses from Hogwarts!</h1>
      <hr>
  		<p class="lead  text-center">Top-ranked programs, affordable, and fully online</p>
  	</div>

    <img [@dragon]= "isOpen? 'fire' : 'water'" class="dragoon" src="/assets/img/dragonWhite.png" alt="">
  <div class="parallaxDiv "><div class="body2"></div>     
    <img class= "owl" (click)= "toggle()" src="/assets/img/owlbutton.png" alt="">     
  </div>

	<div class="dumbotron mb-0">
  		<img src="/assets/img/dumbeldore.white.png" class="rounded float-right dumbeldore" alt="...">
  		<h1 class="display-5  text-center title">A top-class institution!</h1>
  		  <hr>
  		<p class="lead text-center ">The best wizards and witches of the world will train you online. </p>  		
	</div>
          
  <div class="ground2"><div class="body1"></div></div>

    <div class="dumbotron mb-0">
  		<h1 class="display-5 text-center title">Flexible & Relevant</h1>
  		<hr>
  		<p class="my-4 text-center">With Hogwarts' programs, start with the content that matters most to you, online at your own pace. <br> Earn a NEWT or a OWL with each one to show off your new achievement, knowing that you've developed skills that magic companies actually hire for.</p> 	<img [@dragon]= "isOpen? 'other' : 'otherdragon'" class="dragooon" src="/assets/img/dragonWhite.png" alt="">
  	</div>
             
        <div class="ground1"> <div class="body2 "></div><div class="end"><img src='/assets/img/silhouette.png'></div>
 </div>     
  
  </div>
